

.navbar1{
    position: absolute;
    width: 265.11px;
    height: 70px;
    left: 71px;
    top: 2px;
    /* background: url('../images/ez_logo.png');  */
}

.ezppaylogo{
    /* position: absolute; */
    width: 100%;
    height: 17%;
    left: 75px;
    top: 344px; 
    margin-top: 10%;
}




.button1{
    width: 337px;
    height: 50px;
    left: 887px;
    top: 513px;
    background: #0F3374;
    border-radius: 5px;
    font-family: "Montserrat";

}



.patientloginn{
    height: 94%;
    color: rgb(0, 0, 0);
    width: 86%;
    margin-left: 11%;
    background-color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 28px;
    border-radius: 5px;
    border: none;
}



.span4{
   font-family: 'Montserrat';
        color: red;
        width: 28%;
        font-size: 15px;
        position: absolute;
        margin-top: 0.6vh;
        line-height: 22px;
}

.textusername{
    box-sizing: border-box;
    position: absolute;
    width: 337px;
    height: 44px;
    left: 942px;
    top: 270px;
    background: #FFFFFF;
    border: 1px solid #D9DCED;
    border-radius: 5px;
    font-size: 20px;
    line-height: 28px;
}

.labelusername{

width: 91px;
height: 28px;
left: 942px;
top: 246px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
color: #080808;
margin-top: 2%

}
.password-toggle-icon2 {
    width: 121%;
    position: absolute;
    /* top: 8px; */
    margin-left: 5%;

}

.span8{
    font-family: 'Montserrat';
    color: red;
    font-size: 15px;
    margin-left: 1rem;
    position: absolute;
    margin-top: 0.2rem;
    }

.textpassword{
    box-sizing: border-box;
    position: absolute;
    width: 337px;
    height: 44px;
    left: 942px;
    top: 270px;
    background: #FFFFFF;
    border: 1px solid #D9DCED;
    border-radius: 5px;
    font-size: 20px;
    line-height: 28px;
}

    .labelpassword3{

        width: 50%;
        height: 28px;
        left: 942px;
        top: 246px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #080808;
        
        }

   

.labelpassword123{
    margin-left: 2%;
    width: 50%;
    height: 28px;
 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: var(--smalltxt) ;
    line-height: 28px;
    /* identical to box height, or 140% */
   
    background: var(--color);
    
    }

    .signinbutton3{
        width: 84%;
        height: 50px;
        background-color: var(--ezblue);
        border-radius: 5px;
        color: white;
        border: none;
        font-size: var(--mediumtxt);
        margin-top: 4%;
    }
    .form-group2 .signinbutton3:hover {
        background-color: var(--ezblue);
        font-weight: 700;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    }

    .signintotext2{
    width: 300px;
    height: 28px;
    margin-left: -1%;
    margin-top: 4.9%;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    }

    .signintotext3{
        width: 94%;
        height: 28px;
        margin-left: -1%;
        margin-top: -2.1%;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        }

        .rightbody1{
            margin-left: 10%;
            /* position: absolute; */
            width: 500px;
            height: 586px;
            left: 797px;
            top: 115px;
            background: #FFFFFF;
            box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
            border-radius: 10px;
            margin-top: -7%;
            font-family: "Montserrat";
        }

        .formPatient1{
            border: none;
            margin-left: -1.8%;
            margin-top: 6.5%;
            line-height: 0.7;
        }

    .body2{

    height: 0;
    background: #FFFFFF;
    width: 74%;
    margin-left: 30%;
    margin-top: 14%;
    position: fixed;
    display: flex;
    }

    .form-group2 .signinbutton1:hover {
        background-color: var(--ezblue);
        font-weight: 700;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    }
  
    .redinput{
        accent-color: rgb(15, 51, 116);
        }

    .usernamecontainer{
        position: absolute;
        width: 91px;
        height: 28px;
        left: 942px;
        top: 246px;
    }

    .passwordcontainer{
        position: absolute;
        width: 91px;
        height: 28px;
        left: 942px;
        top: 246px;
    }



    .form-group2{
        margin-top: 4%;
        margin-left: 14%;
        
    }
    
    

    .span3{
        background:#F8F8F8;
        text-transform: capitalize;
        color: #F8F8F8;
        background-color: var(--ezblue);
border-radius: 7px;
        font-size: 13px;
        height: 30px;
        letter-spacing: 1px;
        line-height: 30px;
        position: relative;
        text-transform: uppercase;
        top: -80px;
        left:-30px;
        display:none;
        padding:0 20px;
        
    }

    
    .span3:after{
        content:'';
        position:absolute;
        bottom:-10px; 
        width:10px;
        height:10px;
        text-transform: capitalize;
        background:#f8f8f8;
        left:50%;
        margin-left:-10px;
        
    }
    
    .text1{
        margin-left: 32%;
        margin-top: -5.8%;
        float: left;
        position: absolute;
        cursor: pointer;
        color: var(--ezblue);
    }
    
    .text1:hover .span3{
        margin-left: 10%;
      height:fit-content;
        display:block;
        width: 30%;
        text-transform: capitalize;
    }
    

















    

    .form-control{
        width: 84%;
    }

    
    .buttonshowhide2{
        width: 3%;
        padding-top: -11px;
        position: absolute;
        border: none;
        background-color: transparent;
        margin-left: 16%;
        height: 0%;
        margin-top: -2.1%;
        margin-left: 14.2%;
    }


    .hideicon2{
        width: 64%;
        border: none;
        color: var(--ezblue);
        
    }



    .form-select{
        width: 84%;
    }

